.grid-template-housing {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.grid-template-activity {
    display: grid;
    height: 600px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.grid-template-footer {
    display: grid;
    height: auto;
    width: 100%;
    grid-gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 30%);
}

.activity {
    grid-template-areas: "a b a b"
                         "a c a c";
}