body {
    margin: 0;
    font-family: Raleway, serif;
}

html {
    scroll-behavior: smooth;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

header, main {
    margin: 0 30px 0 30px;
}

input:focus, button:focus {
    outline: none;
}

/* MENU */
#register {
    font-weight: 700;
    color: var(--blue);
}

#actif a {
    color: var(--blue);
}

#actif {
    border-top: 2px solid var(--blue);
}

header img {
    width: 100px;
    position: relative;
    top: 6px;
}

header ul {
    list-style: none;
    margin: 0;
}

header ul li {
    padding: 20px;
    transition: var(--tr02);
    border-top: 2px solid transparent;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav :nth-child(1) {
    order: 1;
}

.nav :nth-child(2) {
    order: 2;
}

.nav :nth-child(3) {
    order: 3;
}

header ul a {
    color: gray;
    text-decoration: none;
}

header ul a:hover {
    color: var(--blue);
    transition: var(--tr02);
}

header ul li:hover {
    border-top: 2px solid var(--blue);
    transition: var(--tr02);
}

/* Footer */
footer {
    background-color: var(--background);
    display: grid;
    grid-gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 30%);
}

footer h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    padding: 5px;
}

footer li a {
    color: black;
    text-decoration: none;
}