/* Responsive
sm: 570px; Petit tel
md: 720px; Tel
lg: 1000px; Tablette
xl: 1250px; Ordi
*/

@media screen and (max-width: 1250px){

    /* Housing & Popular */
    .item-housing {
        flex: 1 1 40%;
    }

    .housing-title {
        font-size: 1em;
    }

    .item-popular .housing-desc {
        font-size: 0.9em;
    }

    .img-item-popular, .popular-content-text {
        width: 45%;
    }


    /* Activity */
    .grid-container {
        grid-template-areas: "activity-one-big activity-one-big activity-one-small activity-two-big"
                             "activity-three-small activity-two-small activity-two-small activity-four-small";
    }

    .activity-one-small, .activity-two-big, .activity-three-small {
        height: 100%;
    }

    .activity-two-small, .activity-four-small {
        position: relative;
        height: 100%;
    }

    .activity-img, .activity-img-small{
        height: 76%;
    }

    .activity-title {
        font-size: initial;
    }

}

@media screen and (max-width: 1025px) {

    main {
        margin: 0;
    }

    /* Housing & Popular */
    .grid-template-housing {
        grid-template-areas: "popular popular"
                             "housing housing";
    }

    .item-popular {
        width: 100%;
    }

    .housing {
        grid-area: housing;
        background-color: transparent;
    }

    .popular {
        border-radius: 0;
        grid-area: popular;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 250px);
        grid-template-areas: "activity-one-big"
        "activity-one-small"
        "activity-two-big"
        "activity-three-small"
        "activity-two-small"
        "activity-four-small";
    }
}

@media screen and (max-width: 720px) {

    header {
        margin: 0;
    }

    /* Menu */
    .register {
        float: right;
    }

    .register li {
        border-bottom: none;
        border-top: 2px solid transparent;
    }

    #actif {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    nav img {
        margin-left: 30px;
    }

    .nav {
        width: 100%;
    }

    header ul {
        float: none;
        padding: 0;
    }

    .nav li {
        padding: 20px;
        transition: var(--tr02);
        border-top: none;
        width: 49%;
        text-align: center;
        border-bottom: 2px solid var(--background);
    }

    .nav li:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    /* City & Filter*/
    .container-filter {
        margin: 20px 20px 0 30px;
    }

    .container-text-filter h1 {
        font-size: 1.2em;
    }

    .searchIcon {
        display: block;
    }

    .searchText {
        display: none;
    }

    .select-city button {
        right: 20px;
        border-radius: 10px;
    }

    #circle-info {
        top: 6px;
        height: 20px;
        width: 20px;
    }

    #circle-info i {
        right: 8px;
        top: 4px;
        font-size: 12px;
    }

    /* Housing */
    .item-housing {
        flex: 1 1 100%;
    }

    /* Footer */
    footer {
        grid-template-columns: repeat(auto-fill, 100%);
        padding-left: 30px;
    }

}