/* Filter */
.container-filter {
    margin-top: 30px;
}

.container-text-filter h1 {
    margin: 0 0 4px;
    font-size: 1.4em;
}

.container-text-filter p {
    margin: 0 0 20px;
}

.before-input {
    position: relative;
    background-color: var(--background);
    display: inline-block;
    height: 37px;
    width: 37px;
    margin: 0;
    padding: 0;
    border-radius: 10px 0 0 10px;
}

.before-input i {
    position: absolute;
    left: 13px;
    top: 10px;
}

.select-city input {
    font-weight: bold;
    height: 37px;
    border: 1px solid var(--background);
    padding-left: 10px;
    position: relative;
    right: 5px;
    vertical-align: top;
}

.select-city button {
    transition: var(--tr02);
    cursor: pointer;
    position: relative;
    right: 10px;
    background-color: var(--blue);
    border: none;
    color: white;
    font-weight: 700;
    padding: 11px;
    border-radius: 0 10px 10px 0;
    vertical-align: top;
}

.select-city button:hover {
    transition: var(--tr02);
    background-color: var(--blue-hover);
}

.filter {
    margin: 20px 0 20px 0;
}

.filter p {
    margin-right: 40px;
    font-weight: bold;
}

.filter button {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px 5px 0;
    padding: 13px 15px 10px 45px;
    border-radius: 20px;
    position: relative;
    background-color: transparent;
    border: 1px solid var(--dark-gray);
}

.filter button .circle {
    position: absolute;
    background-color: rgb(195, 213, 241);
    border-radius: 100%;
    color: var(--blue);
    left: -3px;
    bottom: -1px;
    width: 40px;
    height: 40px;
}

.filter button .circle i {
    position: absolute;
    top: 14px;
    left: 11px;
}

#circle-info {
    height: 30px;
    width: 30px;
    top: 11px;
    position: relative;
    display: inline-block;
    border: 2px solid var(--background);
    border-radius: 50%;
}

#circle-info i {
    color: var(--blue);
    position: absolute;
    right: 12px;
    top: 5px;
}

/* Housing */
h2 {
    font-weight: bold;
    font-size: 1.4em;
}

.show {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1em;
}

.container-housing {
    background-color: var(--background);
    padding: 30px;
    border-radius: 10px;
}

.list-housing {
    display: flex;
    flex-wrap: wrap;
}

.item-housing {
    flex: 1 1 30%;
    margin: 10px;
    height: 280px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 3px 10px;
}

.img-item-housing {
    height: 65%;
    overflow: hidden;
    padding: 4px;
    border-radius: 10px 10px 0 0;
}

.item-housing img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.housing-content-text {
    margin: 5px 10px 10px 10px;
}

.housing-title {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.housing-desc {
    margin: 5px 0 5px 0;
}

.housing-desc span {
    font-weight: bold;
}

.stars-color-blue {
    color: var(--blue);
}

.stars-color-gray {
    color: var(--background);
}

/* Popular */
.icon-housing-popular {
    position: relative;
    top: 15px;
}

.item-popular {
    margin: 10px;
    height: 190px;
    padding: 4px;
    position: relative;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 3px 10px;
}

.img-item-popular {
    height: 100%;
    width: 40%;
    display: inline-block;
    border-radius: 10px 0 0 10px;
}

.img-item-popular img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.popular-content-text {
    margin: 7px 10px 10px 0;
    float: right;
    width: 55%;
}

.popular-stars-content {
    position: absolute;
    bottom: 15px;
}

/* Activity */
figure {
    margin: 0;
}

.container-activity {
    margin-top: 50px;
    grid-column: 1/6;
    padding: 30px;
}

.activity-title {
    font-weight: bold;
    padding: 20px 0 20px 20px;
    font-size: 1.2em;
}

.activity-img {
    height: 90%;
}

.activity-img-small {
    height: 68%;
}

.activity-img-medium {
    height: 77%;
}

.activity-img .activity-img-small .activity-img-medium .activity-img-medium-two, img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}